body {

    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header, footer {
color: red;
overflow: auto;
background-image: linear-gradient(red, blue, white);
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}
